<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #petForm="ngForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="pet.name" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter name of your pet"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" [(ngModel)]="pet.age" 
            class="form-control"
            id="age"
            name="age"
            placeholder="Enter the age of your pet"
            required #age="ngModel">
          <div [hidden]="!age.pristine" class="alert alert-danger">Age is required</div>
        </div>

        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" [(ngModel)]="pet.weight"
                class="form-control"
                id="age"
                name="age"
                placeholder="Enter the weight of your pet"
                required #weight="ngModel">
            <div [hidden]="!weight.pristine" class="alert alert-danger">Weight is required</div>
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input type="text" [(ngModel)]="pet.color" 
                class="form-control"
                id="color"
                name="color"
                placeholder="Enter the color of your pet"
                required #age="ngModel">
            <div [hidden]="!color.pristine" class="alert alert-danger">Color is required</div>
        </div>

        <div class="form-group">
                <label for="type">Type</label>
                <input type="text" [(ngModel)]="pet.type" 
                    class="form-control"
                    id="type"
                    name="type"
                    placeholder="Enter the type of your pet (Cat, Dog, Piggy and so on)"
                    required #age="ngModel">
                <div [hidden]="!type.pristine" class="alert alert-danger">Type is required</div>
            </div>

        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>