<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th>
            <th scope="col">Color</th>
            <th scope="col">Type</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets">
            <td>{{ pet.name }}</td>
            <td>{{ pet.age }}</td>
            <td>{{ pet.weight }}</td>
            <td>{{ pet.color }}</td>
            <td>{{ pet.type }}</td>
            <td>
                <button type="button" class="btn btn-info" (click)="onDeletePet(pet)">Remove</button>
            </td>
            <td>
                <a routerLink="/editpet/{{ pet.id }}" class="btn btn-info">Edit Pet</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>